.navbar {
  background-color: black !important;
}

.nav-link {
  color: white !important;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 10px;
}

.btn {
  color: black !important;
}

.btn-outline-success {
  background-color: yellow !important;
  border-style: none;
  border-radius: 5px 5px 5px 5px !important;
}

.navbar-toggler-icon {
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  margin: 10px;
}

footer {
  width: 100%;
  background-color: black;
  height: 150px;
  text-align: center;
  justify-content: space-between;
}

.footer-text {
  color: white;
  padding-top: 60px;
  opacity: 0.7;
}

.hero-banner img {
  width: 100%;
  height: 100%;
}

.img-logo {
  width: 75px;
  height: 55px;
  margin: 20px;
}

.brands-logo {
  text-align: center;
}

.iconic-box {
  text-align: center;
  background-color: yellow;
  margin-top: 40px;
  margin-bottom: 40px;
}

.iconic-text {
  text-align: center;
  font-size: 25px;
  padding: 20px;
}

.featured-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 50px;
}

a {
  color: black;
}

a.featured {
  background-color: black;
  padding: 20px;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  margin-left: 50px;
}

a.featured:hover {
  color: yellow;
}

.featured-container img {
  height: 250px;
  width: 270px;
  margin: 10px;
  border-radius: 15px 15px 15px 15px;
}

.featured-container h4 {
  font-family: "Urbanist", Arial, sans-serif;
  font-size: 30px;
  color: white;
  margin-left: 30px;
}

.featured-container p {
  font-family: "Urbanist", Arial, sans-serif;
  font-size: 20px;
  color: white;
  margin: 10px;
}

.btn-view {
  text-align: center;
  padding: 20px;
  padding-bottom: 20px;
}

.view {
  font-family: "Urbanist", Arial, sans-serif;
  font-size: 20px;
  background-color: yellow;
  width: 160px;
  height: 60px;
  border-radius: 10px 10px 10px 10px;
  border-style: none;
  transition: width 1s;
}

.view:hover {
  width: 280px;
}

@font-face {
  font-family: "Urbanist", Arial, Helvetica, sans-serif;
  src: url(/font/Urbanist/Urbanist-VariableFont_wght.ttf);
}
h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Urbanist", Arial, sans-serif;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin: 20px;
  margin-top: 30px;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin: 30px;
  padding: 20px;
}

* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  margin-top: 150px;
}

.container-products {
  display: flex;
  flex-wrap: wrap;
  padding-left: 50px;
  padding-bottom: 50px;
}

a.products {
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  background-color: black;
  border-radius: 10px 10px 10px 10px;
  min-width: 350px;
}

a.products:hover {
  color: yellow;
}

.container-products img {
  height: 300px;
  width: 300px;
  margin: 10px;
  border-radius: 15px 15px 15px 15px;
  margin-left: 10px;
}

.container-products h4 {
  font-family: "Urbanist", Arial, sans-serif;
  font-size: 30px;
  color: white;
}

.container-products p {
  font-family: "Urbanist", Arial, sans-serif;
  font-size: 20px;
  color: white;
  margin: 10px;
}

p.add {
  position: relative;
  font-family: Helvetica, sans-serif;
  background-color: yellow;
  color: black;
  border-style: none;
  width: 60px;
  height: 40px;
  transition: width 1s;
}

p.add {
  top: 20px;
  left: 30px;
}

.container-products i {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
}

.container-products i.fa {
  color: yellow;
}

.form-group {
  width: 50%;
  padding: 10px;
}

.btn-primary {
  margin: 15px;
}

.message-container {
  width: 150px;
  margin: 15px;
}

.message {
  width: 100%;
  padding: 1rem;
  border: 1px solid grey;
  color: grey;
}

.message.error {
  border-color: red;
  color: white;
  background: red;
}

.message.warning {
  border-color: orange;
  color: white;
  background: orange;
}

.message.success {
  border-color: green;
  color: white;
  background: green;
}

.detailproducts {
  margin: 25px;
  text-align: center;
  background-color: black;
  border-radius: 10px 10px 10px 10px;
  padding: 20px;
  margin-bottom: 50px;
}

.product-detail img {
  height: 450px;
  width: 450px;
  margin: 10px;
  border-radius: 20px 20px 20px 20px;
}

.product-detail h4 {
  font-size: 30px;
  color: white;
}

.product-detail p {
  font-size: 25px;
  color: white;
  margin: 20px;
}

.product-detail a {
  padding: 15px;
  margin-top: 40px;
  width: 200px;
}

.link-back {
    font-family: "Urbanist", Arial, sans-serif;
    font-size: 20px;
    background-color: yellow;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    margin: 10px;
    margin-left: 40px;
    margin-bottom: 40px;
    border-style: none;  
    width: 180px; 
    transition: width 1s;
    text-align: center;
}

.link-back:hover {
  color: black;
  width: 230px;  
}

.add-to-cart {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  background-color: aliceblue; 
  border-radius: 5px 5px 5px 5px;
}

.cart-container {
  border-radius: 10px 10px 10px 10px;
  background-color: black;
}

.fav-text {
  float: left;
  margin: 20px;
}

.go-to-cart {
  font-family: "Urbanist", Arial, sans-serif;
  font-size: 20px;
  background-color: yellow;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  margin: 10px;
  border-style: none;
  width: 180px; 
  transition: width 1s;
  text-align: center;
}

.go-to-cart:hover {
  color: black;
  width: 230px;
}

/* @import "../scss/functions";
@import "../scss/variables";
@import "../scss/mixins";
@import "../scss/root";
@import "../scss/reboot";
@import "../scss/type";
@import "../scss/images";
@import "../scss/code";
@import "../scss/grid";
@import "../scss/tables";
@import "../scss/forms";
@import "../scss/buttons";
@import "../scss/transitions";
@import "../scss/dropdown";
@import "../scss/button-group";
@import "../scss/input-group";
@import "../scss/custom-forms";
@import "../scss/nav";
@import "../scss/navbar";
@import "../scss/card";
@import "../scss/jumbotron";
@import "../scss/alert";
@import "../scss/media";
@import "../scss/list-group";
@import "../scss/close";
@import "../scss/modal";
@import "../scss/tooltip";
@import "../scss/popover";
@import "../scss/carousel";
@import "../scss/spinners";
@import "../scss/utilities";
@import "../scss/print";
*//*# sourceMappingURL=style.css.map */

@media (max-width: 500px) {
  .featured-container img {
    height: 230px;
    width: 250px;
    margin: 10px;
    border-radius: 15px 15px 15px 15px;
    }
    
    .featured-container h4 {
    font-family: "Urbanist", Arial, sans-serif;
    font-size: 22px;
    color: white;
    }
    
    .featured-container p {
    font-family: "Urbanist", Arial, sans-serif;
    font-size: 15px;
    color: white;
    margin: 10px;
    }
}

@media (max-width: 500px) {
  .product-detail img {
      height: 340px;
      width: 340px;
      margin: 10px;
      border-radius: 20px 20px 20px 20px;
  }
  
  .product-detail h4 {
      font-size: 22px;
      color: white;
  }
  
  .product-detail p {
    font-size: 20px;
    color: white;
    margin: 15px;
  }
  
  .product-detail a {
      padding: 15px;
      margin-top: 10px;
      width: 200px;
  }
}