.navbar {
  background-color: black !important;
}

.nav-link {
  color: white !important;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 10px;
}

.btn {
  color: black !important;
}

.btn-outline-success {
  background-color: yellow !important;
  border-style: none;
  border-radius: 5px 5px 5px 5px !important;
}

.navbar-toggler-icon {
  background-color: white;
  border-radius: 5px 5px 5px 5px;
}

.hero-banner img {
  width: 100%;
  height: 100%;
}

.img-logo {
  width: 75px;
  height: 55px;
  margin: 20px;
}

.brands-logo {
  text-align: center;
}

.iconic-box {
  background-color: yellow;
  border-radius: 15px 15px 15px 15px;
  width: 500px;
  height: 300px;
  margin-left: -60px;
}

.iconic-img {
  border-radius: 15px 15px 15px 15px;
  margin-left: 30px;
}

.col {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.iconic-text {
  font-size: 25px;
  margin-top: 50px;
}

.news-link {
  text-align: center;
}

a {
  color: black;
}

.featured-container {
  text-align: center;
  display: flex;
  margin: 50px;
}

a.featured {
  background-color: black;
  padding: 20px;
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  margin-left: 50px;
}

.featured-container img {
  height: 250px;
  width: 270px;
  margin: 10px;
  border-radius: 15px 15px 15px 15px;
}

.featured-container h4 {
  font-family: "Urbanist", Arial, sans-serif;
  font-size: 30px;
  color: white;
  margin-left: 30px;
}

.featured-container p {
  font-family: "Urbanist", Arial, sans-serif;
  font-size: 20px;
  color: white;
  margin: 10px;
}

.btn-view {
  text-align: center;
  padding: 20px;
  padding-bottom: 20px;
}

.view {
  font-family: "Urbanist", Arial, sans-serif;
  font-size: 20px;
  background-color: yellow;
  width: 160px;
  height: 60px;
  border-radius: 10px 10px 10px 10px;
  border-style: none;
  transition: width 1s;
}

.view:hover {
  width: 250px;
}

@font-face {
  font-family: "Urbanist", Arial, Helvetica, sans-serif;
  src: url(/font/Urbanist/Urbanist-VariableFont_wght.ttf);
}
h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Urbanist", Arial, sans-serif;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin: 20px;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin: 30px;
  padding: 20px;
}

* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  margin-top: 130px;
}

.container-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 30px;
  grid-gap: 20px;
  text-align: center;
  margin-top: 50px;
}

a.products {
  margin: 15px;
  text-align: center;
  background-color: black;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 350px;
  margin-left: 40px;
}

.container-products img {
  height: 300px;
  width: 300px;
  margin: 10px;
  border-radius: 15px 15px 15px 15px;
  margin-left: 35px;
}

.container-products h4 {
  font-family: "Urbanist", Arial, sans-serif;
  font-size: 30px;
  color: white;
}

.container-products p {
  font-family: "Urbanist", Arial, sans-serif;
  font-size: 20px;
  color: white;
  margin: 10px;
}

/* Detail products */
.product-detail {
  width: 300px;
  height: 300px;
  margin: 10px;
}

.form-group {
  width: 50%;
  padding: 10px;
}

.btn-primary {
  margin: 15px;
}

.message-container {
  width: 150px;
  margin: 15px;
}

.message {
  width: 100%;
  padding: 1rem;
  border: 1px solid grey;
  color: grey;
}

.message.error {
  border-color: red;
  color: white;
  background: red;
}

.message.warning {
  border-color: orange;
  color: white;
  background: orange;
}

.message.success {
  border-color: green;
  color: white;
  background: green;
}

/* @import "../scss/functions";
@import "../scss/variables";
@import "../scss/mixins";
@import "../scss/root";
@import "../scss/reboot";
@import "../scss/type";
@import "../scss/images";
@import "../scss/code";
@import "../scss/grid";
@import "../scss/tables";
@import "../scss/forms";
@import "../scss/buttons";
@import "../scss/transitions";
@import "../scss/dropdown";
@import "../scss/button-group";
@import "../scss/input-group";
@import "../scss/custom-forms";
@import "../scss/nav";
@import "../scss/navbar";
@import "../scss/card";
@import "../scss/jumbotron";
@import "../scss/alert";
@import "../scss/media";
@import "../scss/list-group";
@import "../scss/close";
@import "../scss/modal";
@import "../scss/tooltip";
@import "../scss/popover";
@import "../scss/carousel";
@import "../scss/spinners";
@import "../scss/utilities";
@import "../scss/print";
*//*# sourceMappingURL=style.css.map */