.navbar {
  background-color: black !important;
}

.nav-link {
  color: white !important;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 10px;
}

.btn {
  color: black !important;
}

.btn-outline-success {
  background-color: yellow !important;
  border-style: none;
  border-radius: 5px 5px 5px 5px !important;
}

.navbar-toggler-icon {
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  margin: 10px;
}

footer {
  width: 100%;
  background-color: black;
  height: 150px;
  text-align: center;
  justify-content: space-between;
}

.footer-text {
  color: white;
  padding-top: 60px;
  opacity: 0.7;
}