
.detailproducts {
  margin: 25px;
  text-align: center;
  background-color: black;
  border-radius: 10px 10px 10px 10px;
  padding: 20px;
  margin-bottom: 110px;
}

.product-detail img {
    height: 450px;
    width: 450px;
    margin: 10px;
    border-radius: 20px 20px 20px 20px;
}

.product-detail h4 {
    font-size: 30px;
    color: white;
}

.product-detail p {
  font-size: 25px;
  color: white;
  margin: 20px;
}

.product-detail a {
    padding: 15px;
    margin-top: 40px;
    width: 200px;
}

.link-back {
    font-family: "Urbanist", Arial, sans-serif;
    font-size: 20px;
    background-color: yellow;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    margin: 10px;
    float: left;
    padding: 80px;
}

.link-back:hover {
    color: black;
}

