.container-products {
  display: flex;
  flex-wrap: wrap; 
  padding-left: 50px;
  padding-bottom: 50px;
}

a.products {
  margin: 1rem; 
  padding: 1rem;
  text-align: center;
  background-color: black;
  border-radius: 10px 10px 10px 10px;
  min-width: 350px;
}

a.products:hover {
  color: #E1FF19;
}

.container-products img {
  height: 300px;
  width: 300px;
  margin: 10px;
  border-radius: 15px 15px 15px 15px;
  margin-left: 10px;
}

.container-products h4 {
  font-family: "Urbanist", Arial, sans-serif;
  font-size: 30px;
  color: white;
}

.container-products p {
  font-family: "Urbanist", Arial, sans-serif;
  font-size: 20px;
  color: white;
  margin: 10px;
}





